import os
from global_settings import *

DB_NAME = 'benford1'

AGENCIES = [
    'USDA',
    'DOC',
    'DOD',
    'ED',
    'DOE',
    'HHS',
    'DHS',
    'HUD',
    'DOJ',
    'DOL',
    'DOS',
    'DOT',
    'VA',
    'DOI',
    'TREAS',
    'EPA',
#    # 'GSA', No files
    'NASA',
    'NSF',
    'NRC',
#    # 'OPM', No files
    'SBA',
    'SSA',
    'USAID',
    'OTHER'
]

SPENDING_TYPES = [
    'Grants',
    'Contracts',
#    'Loans',
#    'DirectPayments',
#    'Insurance',
#    'Other'
]

ANALYSIS_FIELDS = {
    'Grants': ['fed_funding_amount', 'non_fed_funding_amount', 'total_funding_amount'],
    'Contracts': ['obligatedamount', 'baseandexercisedoptionsvalue', 
                  'baseandalloptionsvalue', 'annualrevenue'],
    'Loans': ['face_loan_guran', 'orig_sub_guran'],
    'DirectPayments': ['fed_funding_amount'],
    'Insurance': ['fed_funding_amount', 'non_fed_funding_amount', 'total_funding_amount'],
    'Other': ['fed_funding_amount'],
}

ANALYSIS_DATEFIELDS = {
    'Grants': 'obligation_action_date',
    'Contracts': 'effectivedate',
    'Loans': 'obligation_action_date',
    'DirectPayments': 'obligation_action_date',
    'Insurance': 'obligation_action_date',
    'Other': 'obligation_action_date'
}

DATE_FORMATS = [
    '%Y-%m-%d',
    '%Y%m%d',
    '%m/%d/%Y'
]

FISCAL_YEARS = range(2000, 2012)

DOWNLOAD_DEST_DIR = os.path.join(PROJECT_ROOT, 'downloads')

CACHE_DIR = os.path.join(PROJECT_ROOT, '.cache')

